@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],input[type='password'],input[type='email'],input[type='number'] {
    @apply w-full border my-1 py-2 px-3 rounded-xl;
}

/* for login button */
input[type='submit']{
    @apply bg-primary p-2 w-full text-white rounded-2xl hover:bg-sky-700 cursor-pointer;
}
/* alternate of above */
/* define a classname to the button and add css like :  */
/* button.classname{
    @apply //code ;
} */

*{
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.doodle-back{
    background: url('../images/homedoodlebg.png');
}

textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
    height: 140px;
}

/* Custom CSS for Tailwind range slider */
.range-slider {
    @apply appearance-none w-full h-2 bg-pink-200 rounded-lg outline-none transition duration-200 ease-in-out;
}

.range-slider::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 bg-primary rounded-full cursor-pointer;
}

.range-slider::-moz-range-thumb {
    @apply appearance-none w-4 h-4 bg-pink-500 rounded-full cursor-pointer;
}

.range-slider::-ms-thumb {
    @apply appearance-none w-4 h-4 bg-pink-500 rounded-full cursor-pointer;
}

/* Masonary Layout */
.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px; /* Adjust based on your gap */
    width: auto;
  }
  
  .my-masonry-grid_column {
    padding-left: 30px; /* Adjust based on your gap */
    background-clip: padding-box;
  }
  
  .my-masonry-grid_column > div {
    margin-bottom: 30px; /* Adjust based on your gap */
  }
  
