@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],input[type='password'],input[type='email'],input[type='number'] {
    @apply w-full border my-1 py-2 px-3 rounded-xl;
}

/* for login button */
input[type='submit']{
    @apply bg-primary p-2 w-full text-white rounded-2xl hover:bg-sky-700 cursor-pointer;
}
/* alternate of above */
/* define a classname to the button and add css like :  */
/* button.classname{
    @apply //code ;
} */

*{
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.doodle-back{
    background: url('../images/homedoodlebg.png');
}

textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
    height: 140px;
}
